/* ------------------------------ CIRCLES ---------------------- */
/* ---------------------- 5. MIXINS ---------- */
.main-banner {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 600px;
  position: relative;
  /*background-attachment: fixed;*/
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
.main-banner .content {
  background: rgba(37, 125, 184, 0.7);
  max-width: 100%;
  max-height: 100%;
  -webkit-border-radius: 100%;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 100%;
  -moz-background-clip: padding;
  border-radius: 100%;
  background-clip: padding-box;
  display: table;
  margin: 0 auto;
  position: absolute;
  top: 100px;
  width: 420px;
  height: 420px;
  left: calc(50% - 210px);
}
.main-banner .content article {
  display: table-cell;
  width: 100%;
  height: 100%;
  vertical-align: middle;
  text-align: center;
  padding: 60px;
}
.main-banner .content article h2 {
  font-family: 'montserratregular';
  text-transform: uppercase;
  font-size: 36px;
  font-size: 3.6rem;
  color: #fff;
  line-height: 1.2;
}
.main-banner .content article h3 {
  font-family: 'montserratregular';
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 1.2;
  color: #fff;
  text-transform: uppercase;
  padding-bottom: 10px;
}
.main-banner .content article p {
  font-family: 'OpenSansLight';
  font-size: 14px;
  font-size: 1.4rem;
  color: #fff;
  padding: 20px 0 10px;
}
@media all and (max-width: 1199px) {
  .main-banner {
    height: 500px;
  }
  .main-banner .content {
    top: 120px;
    width: 360px;
    height: 360px;
    left: calc(50% - 180px);
    top: 80px;
  }
  .main-banner .content article h2 {
    font-size: 32px;
    font-size: 3.2rem;
  }
  .main-banner .content article h3 {
    padding: 0 0 10px 0;
  }
  .main-banner .content article p {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 240px;
    padding: 10px 0 0;
  }
}
@media all and (max-width: 991px) {
  .main-banner {
    height: 450px;
  }
  .main-banner .content {
    width: 320px;
    height: 320px;
    left: calc(50% - 160px);
  }
  .main-banner .content article {
    padding: 40px;
  }
  .main-banner .content article h2 {
    font-size: 30px;
    font-size: 3rem;
  }
  .main-banner .content article p {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 240px;
    padding: 10px 0 0;
  }
}
@media all and (max-width: 767px) {
  .main-banner {
    height: 400px;
  }
  .main-banner .content {
    top: 40px;
    width: 300px;
    height: 300px;
    left: calc(50% - 150px);
  }
  .main-banner .content article h2 {
    font-size: 28px;
    font-size: 2.8rem;
  }
  .main-banner .content article p {
    display: none;
  }
}
@media all and (max-width: 600px) {
  .main-banner {
    height: 300px;
  }
  .main-banner .content {
    top: 80px;
    width: 200px;
    height: 200px;
    left: calc(50% - 100px);
  }
  .main-banner .content article {
    padding: 30px;
  }
  .main-banner .content article h2 {
    font-size: 20px;
    font-size: 2rem;
  }
  .main-banner .content article p {
    display: none;
  }
}
.main-slider {
  position: fixed;
  height: 100%;
  width: 100%;
}
.main-slider .slides .slide {
  position: fixed;
  z-index: 20;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.main-slider .slides .slide .content {
  background: rgba(37, 125, 184, 0.7);
  width: 560px;
  height: 560px;
  max-width: 100%;
  max-height: 100%;
  -webkit-border-radius: 100%;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 100%;
  -moz-background-clip: padding;
  border-radius: 100%;
  background-clip: padding-box;
  display: table;
  margin: 0 auto;
  position: absolute;
  top: 200px;
  left: calc(50% - 280px);
}
.main-slider .slides .slide .content article {
  display: table-cell;
  width: 100%;
  height: 100%;
  vertical-align: middle;
  text-align: center;
  padding: 60px;
}
.main-slider .slides .slide .content article h2 {
  font-family: 'montserratregular';
  text-transform: uppercase;
  font-size: 46px;
  font-size: 4.6rem;
  color: #fff;
  line-height: 1.1;
  padding-bottom: 10px;
}
.main-slider .slides .slide .content article h3 {
  font-family: 'montserratregular';
  font-size: 13px;
  font-size: 1.3rem;
  line-height: 1.2;
  color: #fff;
  text-transform: uppercase;
}
.main-slider .slides .slide .content article p {
  font-family: 'OpenSansLight';
  font-size: 14px;
  font-size: 1.4rem;
  color: #fff;
  padding: 20px 0 30px;
  margin: 0 !important;
}
.main-slider .pager {
  position: absolute;
  bottom: 120px;
  left: 0;
  width: 100%;
  text-align: center;
  z-index: 200;
}
.main-slider .pager ul {
  display: inline-block;
}
.main-slider .pager ul li {
  display: inline-block;
  margin: 0 5px;
}
.main-slider .pager ul li span {
  display: inline-block;
  border: 1px solid #fff;
  padding: 4px;
  cursor: pointer;
  -webkit-border-radius: 100%;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 100%;
  -moz-background-clip: padding;
  border-radius: 100%;
  background-clip: padding-box;
}
.main-slider .pager ul li span em {
  display: block;
  width: 10px;
  height: 10px;
  background: transparent;
  -webkit-border-radius: 100%;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 100%;
  -moz-background-clip: padding;
  border-radius: 100%;
  background-clip: padding-box;
  -webkit-transition: background 800ms;
  -moz-transition: background 800ms;
  -o-transition: background 800ms;
  transition: background 800ms;
}
.main-slider .pager ul li:hover span em,
.main-slider .pager ul li.active span em {
  background: #fff;
}
@media all and (max-width: 767px) {
  .main-slider .slides .slide .content {
    width: 400px;
    height: 400px;
    left: calc(50% - 200px);
    top: 100px !important;
  }
  .main-slider .slides .slide .content article h2 {
    font-size: 24px;
    font-size: 2.4rem;
  }
  .main-slider .slides .slide .content article h3 {
    padding-left: 20px;
    padding-right: 20px;
  }
  .main-slider .slides .slide .content article p {
    padding: 20px 10px;
  }
  .main-slider .slides .slide .content article .button {
    padding: 12px 40px;
  }
}
@media all and (max-height: 800px), all and (max-width: 991px) and (max-height: 900px) {
  .main-slider .slides .slide .content {
    top: 150px;
  }
}
@media all and (max-height: 900px), all and (max-width: 1199px) and (max-height: 1000px) {
  .main-slider .slides .slide .content {
    width: 480px;
    height: 480px;
    left: calc(50% - 240px);
  }
  .main-slider .slides .slide .content article h2 {
    font-size: 30px;
    font-size: 3rem;
  }
}
@media all and (max-height: 800px), all and (max-width: 1199px) and (max-height: 850px) {
  .main-slider .slides .slide .content {
    width: 420px;
    height: 420px;
    left: calc(50% - 210px);
  }
  .main-slider .slides .slide .content article {
    padding: 40px;
  }
  .main-slider .slides .slide .content article h2 {
    font-size: 32px;
    font-size: 3.2rem;
  }
  .main-slider .slides .slide .content article p {
    padding: 10px 0 20px;
  }
  .main-slider .slides .slide .content article .button {
    padding: 12px 40px;
  }
}
@media all and (max-height: 680px), all and (max-width: 1199px) and (max-height: 700px) {
  .main-slider .slides .slide .content {
    width: 360px;
    height: 360px;
    left: calc(50% - 180px);
    top: 120px;
  }
  .main-slider .slides .slide .content article h2 {
    font-size: 26px;
    font-size: 2.6rem;
  }
  .main-slider .slides .slide .content article h3 {
    font-size: 14px;
    font-size: 1.4rem;
  }
  .main-slider .slides .slide .content article p {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 280px;
    padding: 10px 0 20px;
  }
  .main-slider .slides .slide .content article .button {
    padding: 6px 30px;
  }
}
@media all and (max-height: 550px), all and (max-width: 991px) and (max-height: 650px) {
  .main-slider .slides .slide .content {
    width: 300px;
    height: 300px;
    left: calc(50% - 150px);
  }
  .main-slider .slides .slide .content article {
    padding: 30px;
  }
  .main-slider .slides .slide .content article h2 {
    font-size: 26px;
    font-size: 2.6rem;
  }
  .main-slider .slides .slide .content article h3 {
    font-size: 13px;
    font-size: 1.3rem;
  }
  .main-slider .slides .slide .content article p {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 220px;
    padding: 10px 0px 20px;
  }
  .main-slider .slides .slide .content article .button {
    padding: 6px 30px;
  }
}
@media all and (max-height: 500px) {
  .main-slider .slides .slide .content {
    top: 140px;
    width: 260px;
    height: 260px;
    left: calc(50% - 130px);
  }
  .main-slider .slides .slide .content article h2 {
    font-size: 18px;
    font-size: 1.8rem;
  }
  .main-slider .slides .slide .content article h3 {
    font-size: 12px;
    font-size: 1.2rem;
    padding-bottom: 10px;
  }
  .main-slider .slides .slide .content article p {
    display: none;
  }
  .main-slider .slides .slide .content article .button {
    font-size: 12px;
    font-size: 1.2rem;
    padding: 4px 20px;
  }
}
@media all and (max-width: 767px) and (max-height: 450px) {
  .main-slider .pager {
    display: none;
  }
  .main-slider .slides .slide .content {
    top: 100px !important;
  }
}
@media all and (max-width: 767px) and (max-height: 450px) {
  .main-slider .pager {
    bottom: 100px;
  }
  .main-slider .slides .slide .content {
    background-color: transparent;
    top: 100px !important;
    width: 260px;
    height: auto;
    display: block;
    left: calc(50% - 130px);
  }
  .main-slider .slides .slide .content article {
    display: block;
  }
  .main-slider .slides .slide .content article h2 {
    font-size: 24px;
    font-size: 2.4rem;
  }
  .main-slider .slides .slide .content article h3 {
    display: none;
  }
}
@media all and (max-width: 767px) and (max-height: 400px) {
  .main-slider .pager {
    bottom: 100px;
  }
  .main-slider .slides .slide .content {
    top: 40px;
  }
}
.main-slider {
  overflow: hidden;
}
.main-slider .slides .slide {
  opacity: 0;
  -webkit-transition: opacity 800ms, -webkit-transform 800ms;
  -moz-transition: opacity 800ms, -moz-transform 800ms;
  -o-transition: opacity 800ms, -o-transform 800ms;
  transition: opacity 800ms,-webkit-transform 800ms,-moz-transform 800ms,-o-transform 800ms,transform 800ms;
}
.main-slider .slides .slide.next-slide .content {
  -webkit-transform: translateX(500px);
  -moz-transform: translateX(500px);
  -o-transform: translateX(500px);
  -ms-transform: translateX(500px);
  transform: translateX(500px);
  -webkit-transition: opacity 800ms, -webkit-transform 800ms;
  -moz-transition: opacity 800ms, -moz-transform 800ms;
  -o-transition: opacity 800ms, -o-transform 800ms;
  transition: opacity 800ms,-webkit-transform 800ms,-moz-transform 800ms,-o-transform 800ms,transform 800ms;
}
.main-slider .slides .slide.prev-slide .content {
  -webkit-transform: translateX(-500px);
  -moz-transform: translateX(-500px);
  -o-transform: translateX(-500px);
  -ms-transform: translateX(-500px);
  transform: translateX(-500px);
  -webkit-transition: opacity 800ms, -webkit-transform 800ms;
  -moz-transition: opacity 800ms, -moz-transform 800ms;
  -o-transition: opacity 800ms, -o-transform 800ms;
  transition: opacity 800ms,-webkit-transform 800ms,-moz-transform 800ms,-o-transform 800ms,transform 800ms;
}
.main-slider .slides .slide.active {
  opacity: 1;
  z-index: 30;
}
.main-slider .slides .slide.active .content {
  -webkit-transform: translateX(0px);
  -moz-transform: translateX(0px);
  -o-transform: translateX(0px);
  -ms-transform: translateX(0px);
  transform: translateX(0px);
  -webkit-transition: opacity 800ms, -webkit-transform 800ms;
  -moz-transition: opacity 800ms, -moz-transform 800ms;
  -o-transition: opacity 800ms, -o-transform 800ms;
  transition: opacity 800ms,-webkit-transform 800ms,-moz-transform 800ms,-o-transform 800ms,transform 800ms;
}
