<section class="news-list">
    <a ng-repeat="news in newsList | filterByYear : activeFilters.year" href="{{ news.link }}" title="{{ news.title }}" class="item">
        <div class="row" ng-if="news.featured_image">
            <div class="col-md-4">
                <img ng-src="{{ news.thumbnail }}" alt="" class="img-responsive newsImg">
            </div>
            <div class="col-md-8">
                <article>
                    <div class="item-data" >{{ news.date | date : 'longDate' }}, by <em class="author">{{ news.author_name }}</em></div>
                    <h3>{{ news.title.rendered }}</h3>
                    <p ng-bind-html="news.acf.intro"></p>
                    <span class="more">Read more...</span>
                </article>
            </div>
        </div>

        <article ng-if="!news.featured_image">
            <div class="item-data">{{ news.date | date : 'longDate' }}, by <em class="author">{{ news.author_name }}</em></div>
            <h3>{{ news.title.rendered }}</h3>
            <p ng-bind-html="news.acf.intro"></p>
            <span class="more">Read more...</span>
        </article>

        <hr>
    </a>
</section>