<section class="single-news">
    <div class="item-data">{{ news.date | date : 'longDate' }}, by <em class="author">{{ news.author_name }}</em></div>
    <h3>{{ news.title.rendered }}</h3>
    <article ng-bind-html="news.content"></article>
    <section class="social-box">
        <a href="http://www.linkedin.com/shareArticle?mini=true&url={{ news.link }}&title={{ news.title.rendered }}&summary={{news.acf.intro}}&image-url={{ news.thumbnail }}" target="_new">
            <i class="icon icon_linkedin"></i><em>Share on linkedin</em>
        </a>
<!--
        <a href="#" title="Share on LinkedIn"><i class="icon icon_linkedin"></i><em>Share on linkedin</em></a>-->
    </section>
</section>