.commentary-section {
  .commentary-nav {
    margin-bottom: 30px;
    ul {
      margin: 0;
      padding: 0;
      li {
        display: inline-block;
        position: relative;
        padding: 0 40px 10px 0;
        &::after {
          content: "/";
          display: block;
          position: absolute;
          right: 10px;
          top: -10px;
          .font-size(6);
          color: @color-blue;
        }
        &:last-of-type {
          padding-right: 10px;
          &::after {
            display: none;
          }
        }
        span {
          font-family: 'montserratbold';
          .font-size(3.6);
          color: @color-light-grey;
          cursor: pointer;
          .transition(color 300ms);
        }
        &:hover {
          span {
            color: @color-blue;
          }
        }
        &.active {
          span {
            color: @color-grey;
          }
        }
      }
    }
  }
  .commentary-content {
    position: relative;
    .filters {
      padding-top: 10px;
      .item {
        padding: 12px 0 10px;
        .name {
          .font-size(1.8);
        }
        article {
          margin-top: 10px;
          ul {
            list-style: none;
            margin-left: 0;
            padding-left: 0;
            li {
              span {
                .font-size(1.6);
                padding: 8px 15px;
                cursor: pointer;
              }
              &:hover {
                span {
                  font-weight: bolder;
                }
              }
              &.active {
                span {
                  font-weight: bolder;
                }
              }
            }
          }
        }
      }
    }
    .commentary-list {
      padding-top: 0;
      .item {
        border-bottom: 1px solid @color-light-grey;
        padding: 20px 0 10px;
        h4 {
          font-family: 'montserratbold';
          .font-size(1.8);
        }
        p {
          margin: 15px 0 5px;
        }
        .page-data {
          margin-top: -8px;
          ul {
            li {
              padding-top: 0;
              a {
                object {
                  height: 22px;
                }
                em {
                  .font-size(1.6);
                }
              }
            }
          }
        }
      }
    }
  }
}


@media all and (max-width: 991px) {
  .commentary-section {
    .commentary-nav {
      ul {
        li {
          display: block;
          &::after {
            display: none;
          }
        }
      }
    }
    .commentary-content {
      .commentary-list {
        .item {
          .page-data {
            margin-top: 10px;
            ul {
              li {
                padding: 5px 10px 5px 0;
              }
            }
          }
        }
      }
    }
  }
}


//loader
.commentary-section {
  .commentary-content {
    position: relative;
    min-height: 200px;
    .loader {
      position: absolute;
      top: -10px;
      left: -10px;
      bottom: -10px;
      right: -10px;
      z-index: 0;
      background: @color-light-transparent-blue;
      .border-radius(4px);
      .opacity(0);
      .transition(opacity 300ms);
      .table {
        display: table;
        width: 100%;
        height: 100%;
        .cell {
          display: table-cell;
          width: 100%;
          height: 100%;
          vertical-align: middle;
          text-align: center;
          .icon {
            color: #fff;
            .font-size(8);
            .animation(rotateLoader 1s linear infinite);
          }
        }
      }
    }
  }
}


//animations
.commentary-section {
  .commentary-content {
    .loader {
      &.active {
        z-index: 10;
        .opacity(1);
      }
    }
    .filters {
      .item {
        article {
          ul {
            li {
              overflow: hidden;
              &.ng-animate {
                .transition(opacity 1s, max-height 1s, padding 1s);
              }
              &.ng-enter {
                max-height: 0;
                .opacity(0);
                padding-top: 0;
                padding-bottom: 0;
              }
              &.ng-enter-active {
                max-height: 300px;
                .opacity(1);
                padding-top: 5px;
                padding-bottom: 5px;
              }
              &.ng-leave {
                max-height: 300px;
                .opacity(1);
                padding-top: 5px;
                padding-bottom: 5px;
              }
              &.ng-leave-active {
                max-height: 0;
                .opacity(0);
                padding-top: 0;
                padding-bottom: 0;
              }
            }
          }
        }
      }
    }
  }
}