.content-tabs-module {
  .tabs-nav {
    border-bottom: 1px solid @color-light-grey;
    ul {
      display: table;
      margin-left: -5px;
      border-spacing: 5px 0;
      li {
        display: table-cell;
        border: solid @color-light-grey;
        border-width: 1px 1px 0 1px;
        height: 100%;
        vertical-align: top;
        font-family: 'montserratbold';
        .font-size(1.6);
        color: @color-light-grey;
        text-align: center;
        padding: 0;
        .transition(color 300ms, background-color 300ms);
        span {
          padding: 15px 40px;
          cursor: pointer;
          display: block;
        }
        &:hover {
          color: @color-grey;
        }
        &.active {
          color: #fff;
          background-color: @color-blue;
        }
      }
    }
    @media all and (max-width: 767px) {
      ul {
        display: block;
        margin-left: 0;
        padding-left: 0;
        li {
          display: block;
          border-width: 0 0 1px;
          &:last-of-type {
            border-bottom: none;
          }
        }
      }
    }
  }
  .tabs-content {
    margin-top: 40px;
    .slide {
      .content-section {
        &:last-of-type {
          padding-bottom: 60px;
        }
      }
      h4 {
        font-family: 'montserratbold';
        .font-size(2.2);
      }
      @media all and (max-width: 767px) {
        img {
          margin-bottom: 20px;
        }
      }
    }
  }
}


//animations
.content-tabs-module {
  .tabs-content {
    position: relative;
    .slide {
      position: absolute;
      top: 0;
      left: 0;
      .opacity(0);
      .transition(opacity 800ms);
      &.active {
        .opacity(1);
      }
    }
  }
}