.contact-module {
  [class^="col-"] {
    table {
      table-layout: fixed;
      width: 100%;
      tr {
        td {
          padding: 5px 10px 10px;
          line-height: 1.4;
        }
      }
    }
    &:nth-of-type(1) {
      table {
        td {
          /*padding: 5px 10px 10px 40px;*/
        }
      }
    }
    &:nth-of-type(2) {
      table {
        border: solid @color-grey;
        border-width: 0 1px;
        td {
          padding: 5px 20px 10px;
          &:first-of-type {
            padding-right: 10px;
          }
          &:last-of-type {
            padding-left: 10px;
          }
        }
      }
    }
    &:nth-of-type(3) {
      table {
        td {
          /*padding: 5px 40px 10px 10px;*/
        }
      }
    }
  }
}

@media all and (max-width: 992px) {
  .contact-module {
    [class^="col-"] {
      table {
        margin: 20px 0;
        tr {
          td {
            width: 2%;
            padding: 10px !important;
          }
          &:first-of-type {
            td {
              padding-top: 20px;
            }
          }
          &:last-of-type {
            td {
              padding-bottom: 20px;
            }
          }
        }
      }
      &:nth-of-type(2) {
        table {
          border-width: 1px 0;
          td {
            padding: 10px;
            &:first-of-type {
              td {
                padding-top: 20px !important;
              }
            }
            &:last-of-type {
              td {
                padding-bottom: 20px !important;
              }
            }
          }
        }
      }
    }
  }
}