.cookies_info {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 110;
  background: @color-grey;
  .border-radius(100%);
  .close {
    background: @color-grey;
    .border-radius(100%);
    position: absolute;
    top: 0px;
    right: 0;
    color: #fff;
    width: 30px;
    height: 30px;
    font-family: 'montserratregular';
    line-height: 2.2;
    cursor: pointer;
    .transition(background-color 200ms);
    &:hover {
      background-color: @color-blue;
    }
  }
  .content {
    width: 220px;
    height: 220px;
    padding: 30px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    .border-radius(100%);
    .icon {
      .font-size(3);
      color: #fff;
      position: absolute;
      left: 30px;
      top: 68px;
    }
    p {
      float: right;
      color: #fff;
      font-family: 'montserratregular';
      .font-size(1.8);
      line-height: 1.2;
      text-align: left;
      position: relative;
      margin-bottom: 15px;
      width: 120px;
    }
    .button {
      display: block;
      padding-left: 10px;
      padding-right: 10px;
      color: #fff;
      text-decoration: none;
      &:hover {
        color: @color-grey;
      }
    }

  }
}

.homepage {
  .cookies_info {
    bottom: 100px;
  }
}