.family-office-page {

  //animations
  .page-tabs-module {
    .tabs-content {
      .slide {
        z-index: 5;
        .transform(translateX(0));
        .transition(opacity 800ms/*, transform 800ms*/);
        &.active {
          opacity: 1;
          z-index: 10;
          /*.transition(opacity 800ms, transform 800ms);*/
          .transform(translateX(0));
        }
        &.next-slide {
          .transform(translateX(0));
        }
        &.prev-slide {
          .transform(translateX(0));
        }
        &.next-slide, &.prev-slide {
          .transition(opacity 800ms/*, transform 800ms*/);
          opacity: 0;
        }
      }
    }
  }
}