#main-menu {
  position: fixed;
  z-index: 130;
  right: -300px;
  top: 0;
  background-color: @color-grey;
  padding: 40px 60px 300px 20px;
  width: 300px;
  height: 100%;
  .transform(translateX(0));
  .transition(transform 500ms);
  ul {
    margin: 0;
    li {
      a {
        margin-bottom: 5px;
        padding: 3px 0;
        display: block;
        font-family: 'montserratregular';
        .font-size(1.6);
        color: #fff;
        text-transform: uppercase;
        line-height: 1.2;
        .transition(color 300ms);
        &:hover {
          color: lighten(@color-blue, 10%);
        }
      }
    }
  }
  #main-menu-toggle {
    background: none;
    border: none;
    outline: none;
    margin: 0;
    cursor: pointer;
    position: absolute;
    left: -130px;
    right: auto;
    top: 45px;
    z-index: 120;
    height: 30px;
    width: 30px;
    padding: 0;
    .transition(transform 500ms, top 500ms);
    span {
      display: block;
      width: 35px;
      height: 5px;
      position: absolute;
      left: 0;
      background-color: #fff;
      .transform(rotate(0deg) translate(0px, 0px));
      .box-shadow(0 0 5px 1px rgba(0,0,0,.4));
      transition: background-color 300ms, rotate 500ms, transform 500ms, opacity 200ms, box-shadow 200ms;
      -webkit-transition: background-color 300ms, rotate 500ms, -webkit-transform 500ms, opacity 200ms, box-shadow 200ms;
      -moz-transition: background-color 300ms, rotate 500ms, -moz-transform 500ms, opacity 200ms, box-shadow 200ms;
      -o-transition: background-color 300ms, rotate 500ms, -o-transform 500ms, opacity 200ms, box-shadow 200ms;
      &:nth-child(1) {
        top: 0;
      }
      &:nth-child(2) {
        top: 12px;
        .opacity(1);
        .transform(translateX(0px));
      }
      &:nth-child(3) {
        top: 24px;
      }
    }
    &:hover {
      span {
        background-color: @color-blue;
      }
    }
    &.active {
      .transform(translateX(380px));
      span {
        .box-shadow(0 0 0 0);
        &:nth-child(1) {
          .transform(rotate(45deg) translate(9px, 8px));
        }
        &:nth-child(2) {
          .opacity(0);
          .transform(translateX(70px));
        }
        &:nth-child(3) {
          .transform(rotate(-45deg) translate(9px, -8px));
        }
      }
    }
  }
  article {
    width: ~'calc(100% - 40px)';
    position: absolute;
    bottom: 100px;
    right: 20px;
    .opacity(.8);
    h3 {
      font-family: 'montserratbold';
      .font-size(1.6);
      color: #fff;
      &::before {
        content: "";
        display: block;
        width: 20px;
        height: 2px;
        background-color: @color-blue;
        margin-bottom: 10px;
      }
    }
    p {
      font-family: 'OpenSansLight';
      color: #fff;
      .font-size(1.3);
      line-height: 1.5;
      margin-top: 10px;
    }
  }
  &.sticky {
    padding-top: 20px;
    #main-menu-toggle {
      top: 25px;
    }
  }
  &.active {
    .transform(translateX(-300px));
    #main-menu-toggle {
      color: #fff;
    }
  }
}

.homepage {
  #main-menu {
    height: ~'calc(100% - 65px)';
  }
}

@media all and (max-width: 480px) {
  .homepage {
    #main-menu {
      height: ~'calc(100% - 90px)';
    }
  }
}

@media all and (max-width: 767px) {
  #main-menu {
    padding: 30px 60px 200px 20px;
    ul {
      li {
        a {
          .font-size(1.4);
        }
      }
    }
    #main-menu-toggle {
      top: 30px;
      left: -70px;
      span {
        width: 30px;
        height: 5px;
        &:nth-child(2) {
          top: 10px;
          .opacity(1);
          .transform(translateX(0px));
        }
        &:nth-child(3) {
          top: 20px;
        }
      }
      &.active {
        .transform(translateX(320px));
        span {
          &:nth-child(1) {
            .transform(rotate(45deg) translate(8px, 6px));
          }
          &:nth-child(2) {
            .opacity(0);
            .transform(translateX(70px));
          }
          &:nth-child(3) {
            .transform(rotate(-45deg) translate(8px, -6px));
          }
        }
      }
    }
    article {
      bottom: 40px;
      h3 {
        .font-size(1.4);
      }
      p {
        .font-size(1.2);
      }
    }
    &.sticky {
      padding-top: 20px;
      #main-menu-toggle {
        top: 25px;
      }
    }
  }
}

@media all and (max-width: 400px) {
  #main-menu {
    width: 300px;
    #main-menu-toggle {
      left: -70px;
    }
  }
}

@media all and (max-height: 600px) {
  #main-menu {
    article {
      bottom: 40px;
    }
  }
}

@media all and (max-height: 500px) {
  #main-menu {
    ul {
      li {
        a {
          .font-size(1.6);
        }
      }
    }
    article {
      display: none;
    }
  }
}