.main-banner {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 360px;
  position: relative;
  /*background-attachment: fixed;*/
  background-position: 50% 50%;
  background-repeat: no-repeat;
  .content {
    background: @color-medium-transparent-blue;
    max-width: 100%;
    max-height: 100%;
    .border-radius(100%);
    display: table;
    margin: 0 auto;
    position: absolute;
    top: 30px;
    width: 300px;
    height: 300px;
    left: ~'calc(50% - 150px)';
    article {
      display: table-cell;
      width: 100%;
      height: 100%;
      vertical-align: middle;
      text-align: center;
      padding: 30px;
      h2 {
        font-family: 'montserratregular';
        text-transform: uppercase;
        .font-size(2.6);
        color: #fff;
        line-height: 1.2;
      }
      h3 {
        font-family: 'montserratregular';
        .font-size(1.4);
        line-height: 1.2;
        color: #fff;
        text-transform: uppercase;
        padding-bottom: 10px;
      }
    }
  }
}

@media all and (max-width: 1199px) {
  .main-banner {
    .content {
      article {
        h3 {
          padding: 0 0 10px 0;
        }
      }
    }
  }
}

@media all and (max-width: 991px) {
  .main-banner {
    height: 300px;
    .content {
      width: 240px;
      height: 240px;
      left: ~'calc(50% - 120px)';
      article {
        padding: 30px;
        h2 {
          .font-size(2);
        }
      }
    }
  }
}

@media all and (max-width: 767px) {
  /*.main-banner {
    .content {
      top: 40px;
      width: 300px;
      height: 300px;
      left: ~'calc(50% - 150px)';
      article {
        h2 {
          .font-size(2.8);
        }
      }
    }
  }*/
}

@media all and (max-width: 600px) {
  .main-banner {
    height: 300px;
    .content {
      top: 80px;
      width: 200px;
      height: 200px;
      left: ~'calc(50% - 100px)';
      article {
        padding: 30px;
        h2 {
          .font-size(1.6);
        }
      }
    }
  }
}