.content-section.news-content {
  margin-bottom: -40px;
  h2 {
    text-align: left;
  }
  .news-years-filter {
    &.ng-animate {
      .transition(opacity 1s);
    }
    &.ng-enter {
      .opacity(0);
    }
    &.ng-enter-active {
      .opacity(1);
    }
    &.ng-leave {
      .opacity(1);
    }
    &.ng-leave-active {
      .opacity(0);
    }
  }
  .filter {
    text-align: right;
    .title {
      font-family: 'montserratregular';
      .font-size(1.5);
      display: inline-block;
      text-transform: uppercase;
      padding-right: 10px;
    }
    select {
      width: 100px;
    }
    ul {
      display: inline-block;
      text-align: right;
      margin-left: 0;
      padding-left: 0;
      li {
        padding: 0 3px;
        display: inline-block;
        font-family: 'montserratregular';
        .font-size(1.5);
        cursor: pointer;
        &:hover, &.active{
          text-decoration: underline;
        }
      }
    }
  }
  .news-list {
    padding-bottom: 40px;
    position: relative;
    z-index: 5;
    .item {
      position: relative;
      display: block;
      padding: 30px 10px;
      color: @color-grey;
      background: transparent;
      .transition(background 500ms, color 500ms);
      .newsImg {

      }
      article {
        .item-data {
          color: @color-medium-grey;
          .transition(color 500ms);
          .author {
            text-transform: capitalize;
          }
        }
        h3 {
          font-family: 'montserratbold';
          .font-size(2.2);
          margin: 20px 0;
        }
        .more {
          display: block;
          font-family: 'montserratbold';
          margin-top: -10px;
        }
      }
      &:hover {
        color: #fff;
        background: @color-medium-transparent-blue;
        article {
          .item-data {
            color: #fff;
          }
        }
      }
      hr {
        position: absolute;
        bottom: 0;
        left: 0;
        margin: 0;
        border-color: @color-medium-grey;
        width: 90%;
      }
    }
  }
}

.single-news-content {
  h2 {
    text-align: left;
  }
  .news-back-button {
    &.ng-animate {
      .transition(opacity 1s);
    }
    &.ng-enter {
      .opacity(0);
    }
    &.ng-enter-active {
      .opacity(1);
    }
    &.ng-leave {
      .opacity(1);
    }
    &.ng-leave-active {
      .opacity(0);
    }
  }
  .news-top-nav {
    margin-bottom: 30px;
    a {
      color: @color-grey;
      font-family: 'montserratbold';
      .font-size(1.6);
      display: inline-block;
      line-height: 2.6;
      .transition(color 200ms);
      i {
        .font-size(2.4);
        margin-top: -5px;
      }
      &:hover {
        color: @color-blue;
      }
    }
  }
  .single-news {
    padding-bottom: 40px;
    position: relative;
    z-index: 20;
    .item-data {
      margin-bottom: 20px;
      .author {
        text-transform: capitalize;
      }
    }
    h3 {
      margin-bottom: 30px;
    }
    article {
      margin-bottom: 40px;
    }
    .social-box {
      a {
        font-family: 'montserratbold';
        .font-size(1.6);
        color: @color-blue;
        .transition(color 300ms);
        i {
          .font-size(2);
          float: left;
          margin-right: 3px;
        }
        em {
          font-style: normal;
          line-height: 1.4;
        }
        &:hover {
          color: @color-grey;
        }
      }
    }
  }
}

@media all and (max-width: 991px) {
  .content-section.news-content {
    .filter {
      text-align: left;
      ul {
        text-align: left;
      }
    }
    .news-list {
      margin-top: 20px;
      padding-bottom: 20px;
      .item {
        padding: 10px 0;
        margin-bottom: 20px;
        .newsImg {
          margin-bottom: 20px;
        }
        &:hover {
          color: #000;
          background: transparent;
          article {
            .item-data {
              color: @color-grey;
            }
          }
        }
      }
    }
  }
}


//keyframes
@keyframes rotateLoader {
  0% {
    .transform(rotate(0deg));
  }
  100% {
    .transform(rotate(360deg));
  }
}
@-webkit-keyframes rotateLoader {
  0% {
    .transform(rotate(0deg));
  }
  100% {
    .transform(rotate(360deg));
  }
}
@-moz-keyframes rotateLoader {
  0% {
    .transform(rotate(0deg));
  }
  100% {
    .transform(rotate(360deg));
  }
}
@-o-keyframes rotateLoader {
  0% {
    .transform(rotate(0deg));
  }
  100% {
    .transform(rotate(360deg));
  }
}
@keyframes rotateLoader {
  0% {
    .transform(rotate(0deg));
  }
  100% {
    .transform(rotate(360deg));
  }
}


//loader
.content-section.news-content,
.content-section.single-news-content {
  .newsContainer {
    min-height: 200px;
    .loader {
      position: absolute;
      top: -10px;
      left: -10px;
      bottom: -10px;
      right: -10px;
      z-index: 0;
      background: @color-light-transparent-blue;
      .border-radius(4px);
      .opacity(0);
      .transition(opacity 300ms);
      .table {
        display: table;
        width: 100%;
        height: 100%;
        .cell {
          display: table-cell;
          width: 100%;
          height: 100%;
          vertical-align: middle;
          text-align: center;
          .icon {
            color: #fff;
            .font-size(8);
            .animation(rotateLoader 1s linear infinite);
          }
        }
      }
    }
  }
}

//animations
.content-section.news-content,
.content-section.single-news-content {
  .newsContainer {
    position: relative;
    .loader {
      &.active {
        z-index: 10;
        .opacity(1);
      }
    }
    .newsAnimate {
      &.ng-animate {
        .transition(opacity 1s);
      }
      &.ng-enter-stagger {
        .transition-delay(1s);
      }
      &.ng-enter {
        .opacity(0);
      }
      &.ng-enter-active {
        .opacity(1);
      }
      &.ng-leave {
        .opacity(1);
        .transition(opacity 0);
       }
      &.ng-leave-active {
        .opacity(0);
      }
    }
    .news-list {
      a {
        overflow: hidden;
        &.ng-animate {
          .transition(opacity 1s, max-height 1s, padding 1s);
        }
        &.ng-enter {
          max-height: 0;
          .opacity(0);
          padding-top: 0;
          padding-bottom: 0;
        }
        &.ng-enter-active {
          max-height: 1000px;
          .opacity(1);
          padding-top: 30px;
          padding-bottom: 30px;
        }
        @media all and (max-width: 991px) {
          &.ng-enter-active {
            max-height: 1000px;
            .opacity(1);
            padding-top: 10px;
            padding-bottom: 10px;
          }
        }
        &.ng-leave {
          max-height: 1000px;
          .opacity(1);
          padding-top: 30px;
          padding-bottom: 30px;
        }
        @media all and (max-width: 991px) {
          &.ng-leave {
            max-height: 1000px;
            .opacity(1);
            padding-top: 10px;
            padding-bottom: 10px;
          }
        }
        &.ng-leave-active {
          max-height: 0;
          .opacity(0);
          padding-top: 0;
          padding-bottom: 0;
        }
      }
    }
  }
}