.page-tabs-module {
  padding-bottom: 0;
  background: #f4f5f5;
  .tabs-nav {
    border-bottom: none;
    ul {
      li {
        border: none;
        background-color: @color-very-light-grey;
        color: @color-grey;
        &:hover {
          color: #fff;
          background-color: @color-blue;
        }
        &.active {
          color: @color-grey;
          background-color: #fff;
        }
      }
    }
  }
  .tabs-content {
    overflow: hidden;
    margin-top: 0;
    background-color: #fff;
    .transition(height 500ms);
    .slide {
      width: 100%;
      background-color: #fff;
      .content-section {
        background: transparent;
        /*h2 {
          text-align: left;
        }*/
      }
    }
  }
}

//animations
.page-tabs-module {
  .tabs-content {
    .slide {
      z-index: 5;
      .transform(translateX(0));
      .transition(opacity 800ms, transform 800ms);
      &.active {
        opacity: 1;
        z-index: 10;
        .transition(opacity 800ms, transform 800ms);
        .transform(translateX(0));
      }
      &.next-slide {
        .transform(translateX(500px));
      }
      &.prev-slide {
        .transform(translateX(-500px));
      }
      &.next-slide, &.prev-slide {
        .transition(opacity 800ms, transform 800ms);
        opacity: 0;
      }
    }
  }
}