.accordion-module {
  h2 {
    text-align: left;
  }
  .accordion-content {
    .item {
      padding: 30px 0 40px;
      border-bottom: 1px solid @color-light-grey;
      position: relative;
      .name {
        font-family: 'montserratbold';
        .font-size(1.8);
        display: block;
      }
      .short-info {
        margin: 10px 0;
      }
      article {
        display: none;
        p {
          margin: 0;
          padding: 10px 0;
        }
      }
      .accordion-toggle {
        position: absolute;
        bottom: 0px;
        left: 0;
        width: 100%;
        .font-size(4);
        line-height: 1;
        color: @color-light-grey;
        cursor: pointer;
        text-align: right;
        .transform(rotateX(0deg));
        .transition(color 300ms, transform 500ms);
        &:hover {
          color: @color-grey;
        }
      }
      &.opened {
        .accordion-toggle {
          .transform(rotateX(180deg));
        }
      }
    }
  }
}

@media  all and(max-width: 767px) {
  .accordion-module {
    .accordion-content {
      .item {
        padding: 20px 0 40px;
        img {
          margin-bottom: 15px;
        }
      }
    }
  }
}