.banner-slider {
  .slider-content {
    position: relative;
    .main-banner {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      z-index: 10;
      &.active {
        z-index: 20;
      }
    }
  }
}

//animations
.banner-slider {
  overflow: hidden;
  .slider-content {
    .slide {
      opacity: 0;
      .transition(opacity 800ms, transform 800ms);
      &.next-slide {
        .content {
          .transform(translateX(500px), rotate(60deg));
          .transition(opacity 800ms, transform 800ms);
        }
      }
      &.prev-slide {
        .content {
          .transform(translateX(-500px), rotate(-60deg));
          .transition(opacity 800ms, transform 800ms);
        }
      }
      &.active {
        opacity: 1;
        z-index: 30;
        .content {
          .transform(translateX(0), rotate(0deg));
          .transition(opacity 800ms, transform 800ms);
        }
      }
    }
  }
}