.main-banner {
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 600px;
  position: relative;
  .content {
    background: @color-medium-transparent-blue;
    max-width: 100%;
    max-height: 100%;
    .border-radius(100%);
    display: table;
    margin: 0 auto;
    position: absolute;
    top: 100px;
    width: 420px;
    height: 420px;
    left: ~'calc(50% - 210px)';
    article {
      display: table-cell;
      width: 100%;
      height: 100%;
      vertical-align: middle;
      text-align: center;
      h3 {
        font-family: 'montserratregular';
        .font-size(1.4);
        line-height: 1.2;
        color: #fff;
        text-transform: uppercase;
        padding: 0 50px;
      }
      h2 {
        font-family: 'montserratbold';
        .font-size(4.2);
        color: #fff;
        line-height: 1.2;
        padding: 0 50px;
      }
      p {
        font-family: 'OpenSansLight';
        .font-size(1.4);
        color: #fff;
        margin: 20px 10px 0;
        padding: 0 50px;
      }
    }
  }
}

@media all and (max-width: 991px) {
  .main-banner {
    height: 450px;
    .content {
      top: 120px;
      width: 280px;
      height: 280px;
      left: ~'calc(50% - 140px)';
      article {
        h2 {
          margin: 10px;
          .font-size(2.4);
        }
        p {
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          width: 280px;
          margin: 10px 10px 0;
        }
      }
    }
  }
}

@media all and (max-width: 767px) {
  .main-banner {
    height: 400px;
    .content {
      top: 40px;
      width: 300px;
      height: 300px;
      left: ~'calc(50% - 150px)';
      article {
        h3 {
          padding: 0 30px;
        }
        h2 {
          margin: 10px;
          .font-size(2.8);
          padding: 0 30px;
        }
        p {
          display: none;
        }
      }
    }
  }
}

@media all and (max-width: 600px) {
  .main-banner {
    height: 300px;
    .content {
      top: 100px;
      width: 180px;
      height: 180px;
      left: ~'calc(50% - 90px)';
      article {
        h3 {
          padding: 0 10px;
        }
        h2 {
          margin: 10px;
          .font-size(1.8);
          padding: 0 10px;
        }
        p {
          display: none;
        }
      }
    }
  }
}