.main-slider {
  position: fixed;
  height: 100%;
  width: 100%;
  .slides {
    .slide {
      position: fixed;
      z-index: 20;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-position: center center;
      background-attachment: fixed;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      .content {
        background: @color-medium-transparent-blue;
        width: 560px;
        height: 560px;
        max-width: 100%;
        max-height: 100%;
        .border-radius(100%);
        display: table;
        margin: 0 auto;
        position: absolute;
        top: 200px;
        padding: 0 50px;
        left: ~'calc(50% - 280px)';
        article {
          display: table-cell;
          width: 100%;
          height: 100%;
          vertical-align: middle;
          text-align: center;
          h3 {
            font-family: 'montserratregular';
            .font-size(1.3);
            line-height: 1.2;
            color: #fff;
            text-transform: uppercase;
          }
          h2 {
            font-family: 'montserratbold';
            .font-size(5.2);
            color: #fff;
            line-height: 1.2;
          }
          p {
            font-family: 'OpenSansLight';
            .font-size(1.4);
            color: #fff;
            margin: 20px 50px 30px;
          }
        }
      }
    }
  }
  .pager {
    position: absolute;
    bottom: 120px;
    left: 0;
    width: 100%;
    text-align: center;
    z-index: 200;
    ul {
      display: inline-block;
      li {
        display: inline-block;
        margin: 0 5px;
        span {
          display: inline-block;
          border: 1px solid #fff;
          padding: 4px;
          cursor: pointer;
          .border-radius(100%);
          em {
            display: block;
            width: 10px;
            height: 10px;
            background: transparent;
            .border-radius(100%);
            .transition(background 800ms);
          }
        }
        &:hover, &.active {
          span {
            em {
              background: #fff;
            }
          }
        }
      }
    }
  }
}


@media all and (max-width: 767px) {
  .main-slider {
    .slides {
      .slide {
        .content {
          width: 360px;
          height: 360px;
          left: ~'calc(50% - 180px)';
          top: 100px !important;
          article {
            h3 {
              margin-left: 20px;
              margin-right: 20px;
            }
            h2 {
              .font-size(2.4);
            }
            p {
              margin: 20px 10px;
            }
            .button {
              padding: 12px 40px;
            }
          }
        }
      }
    }
  }
}


@media all and (max-height: 800px), all and (max-width: 991px) and (max-height: 900px) {
  .main-slider {
    .slides {
      .slide {
        .content {
          top: 150px;
        }
      }
    }
  }
}

@media all and (max-height: 900px), all and (max-width: 1199px) and (max-height: 1000px) {
  .main-slider {
    .slides {
      .slide {
        .content {
          width: 460px;
          height: 460px;
          left: ~'calc(50% - 230px)';
          article {
            h2 {
              .font-size(4.6)
            }
          }
        }
      }
    }
  }
}

@media all and (max-height: 800px), all and (max-width: 1199px) and (max-height: 850px) {
  .main-slider {
    .slides {
      .slide {
        .content {
          width: 360px;
          height: 360px;
          left: ~'calc(50% - 180px)';
          article {
            h3 {
              margin-left: 20px;
              margin-right: 20px;
            }
            h2 {
              .font-size(2.4);
            }
            p {
              margin: 20px 10px;
            }
            .button {
              padding: 12px 40px;
            }
          }
        }
      }
    }
  }
}

@media all and (max-height: 680px), all and (max-width: 1199px) and (max-height: 700px) {
  .main-slider {
    .slides {
      .slide {
        .content {
          width: 280px;
          height: 280px;
          left: ~'calc(50% - 140px)';
          article {
            h3 {
              .font-size(1.4);
            }
            h2 {
              margin: 10px;
              .font-size(2.2);
            }
            p {
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
              width: 220px;
              margin: 10px 10px 20px;
            }
            .button {
              padding: 6px 30px;
            }
          }
        }
      }
    }
  }
}

@media all and (max-height: 550px), all and (max-width: 991px) and (max-height: 650px) {
  .main-slider {
    .slides {
      .slide {
        .content {
          width: 240px;
          height: 240px;
          left: ~'calc(50% - 120px)';
          article {
            h3 {
              .font-size(1.3);
              padding: 0 20px;
            }
            h2 {
              margin: 10px;
              .font-size(1.6);
              padding: 0 20px;
            }
            p {
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
              width: 220px;
              margin: 10px 10px 20px;
              padding: 0 20px;
            }
            .button {
              padding: 6px 30px;
            }
          }
        }
      }
    }
  }
}

@media all and (max-height: 500px) {
  .main-slider {
    .slides {
      .slide {
        .content {
          top: 140px;
          width: 160px;
          height: 160px;
          left: ~'calc(50% - 80px)';
          article {
            h3 {
              .font-size(1.2);
              padding: 0 20px;
            }
            h2 {
              margin: 10px;
              .font-size(1.4);
              padding: 0 20px;
            }
            p {
              display: none;
            }
            .button {
              .font-size(1.2);
              padding: 4px 20px;
            }
          }
        }
      }
    }
  }
}

@media all and (max-width: 767px) and (max-height: 450px) {
  .main-slider {
    .pager {
      bottom: 100px;
    }
    .slides {
      .slide {
        .content {
          top: 50px !important;
        }
      }
    }
  }
}

@media all and (max-width: 767px) and (max-height: 400px) {
  .main-slider {
    .pager {
      bottom: 100px;
    }
    .slides {
      .slide {
        .content {
          background-color: transparent;
          top: 50px !important;
          width: 260px;
          height: auto;
          display: block;
          left: ~'calc(50% - 130px)';
          article {
            h3 {
              display: none;
            }
            h2 {
              .font-size(2.2);
            }
          }
        }
      }
    }
  }
}


//animations
.main-slider {
  overflow: hidden;
  .slides {
    .slide {
      opacity: 0;
      .transition(opacity 800ms, transform 800ms);
      &.next-slide {
        .content {
          .transform(translateX(500px));
          .transition(opacity 800ms, transform 800ms);
        }
      }
      &.prev-slide {
        .content {
          .transform(translateX(-500px));
          .transition(opacity 800ms, transform 800ms);
        }
      }
      &.active {
        opacity: 1;
        z-index: 30;
        .content {
          .transform(translateX(0));
          .transition(opacity 800ms, transform 800ms);
        }
      }
    }
  }
}