.oclaner-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  padding: 120px 0 40px;
  background: @color-dark-transparent-blue;
  display: none;
  .table {
    width: 100%;
    height: 100%;
    .cell {
      width: 100%;
      height: 100%;
      vertical-align: middle;
      > .container {
        height: 100%;
        > [class^="col-"] {
          height: 100%;
        }
      }
      .oclaner-popup-content {
        height: 100%;
        overflow-y: auto;
        color: #fff;
        article {
          padding-right: 30px;
          color: #fff;
          h2 {
            text-align: center;
            font-family: 'montserratbold';
            .font-size(3.6);
            margin-bottom: 20px;
          }
          h3 {
            font-family: 'montserratbold';
            .font-size(2);
            margin-bottom: 10px;
          }
          p {
            margin: 20px 0;
            line-height: 1.6;
          }
          ul {
            list-style: disc outside;
            padding-left: 20px;
            margin-left: 20px;
            li {
              padding: 5px 0 5px 10px;
            }
          }
        }
        .popup-footer {
          margin-top: 20px;
          .popup-nav {
            a {
              margin: 10px 20px 10px 0;
            }
          }
        }
      }
    }
  }
}