.page-data {
  text-align: right;
  .title {
    font-family: 'montserratregular';
    .font-size(1.5);
    display: inline-block;
    text-transform: uppercase;
    padding-right: 5px;
  }
  ul {
    display: inline-block;
    text-align: right;
    margin-left: 0;
    padding-left: 0;
    li {
      display: inline-block;
      margin-top: 5px;
      a {
        padding: 0 3px;
        display: block;
        font-family: 'montserratregular';
        .font-size(1.5);
        color: @color-grey;
        text-transform: uppercase;
        cursor: pointer;
        .transition(color 200ms);
        i {
          vertical-align: top;
          font-size: 18px;
          margin-right: 5px;
          .transition(transform 200ms);
        }
        &:hover, &.active{
          color: @color-blue;
          i {
            .transform(scale(1.2));
          }
          em {
            text-decoration: none;
          }
        }
      }
    }
  }
}


@media all and (max-width: 991px) {
  .page-data {
    text-align: left;
    ul {
      text-align: left;
    }
  }
}