.tabs-module {
  overflow: hidden;
  .tabs-nav {
    margin-bottom: 20px;
    ul {
      display: table;
      max-width: 100%;
      margin: 0 auto;
      li {
        display: table-cell;
        padding: 0 20px;
        text-align: center;
        span {
          font-family: 'montserratbold';
          .font-size(2);
          color: @color-light-grey;
          line-height: 1.4;
          cursor: pointer;
          padding: 5px 5px 20px 5px;
          display: inline-block;
          .transition(color 300ms);
        }
        &:hover {
          span {
            color: @color-grey;
          }
        }
        hr {
          display: none;
          border-color: @color-light-grey;
          margin: 0 0 10px;
          .transition(border 300ms);
        }
        &.active {
          span {
            color: @color-grey;
          }
        }
      }
    }
    .border-bottom {
      .transition(all 500ms);
    }
  }
  .tabs-content {
    position: relative;
    .transition(height 500ms);
    article {
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0;
      .transform(translateX(0));
      .transition(opacity 800ms, transform 800ms);
      &.active {
        opacity: 1;
        .transition(opacity 800ms, transform 800ms);
        .transform(translateX(0));
      }
      &.next-slide {
        .transform(translateX(500px));
      }
      &.prev-slide {
        .transform(translateX(-500px));
      }
      &.next-slide, &.prev-slide {
        .transition(opacity 800ms, transform 800ms);
        opacity: 0;
      }
    }
  }
}

@media all and (max-width: 767px) {
  .tabs-module {
    .tabs-nav {
      ul {
        padding-left: 0;
        display: block;
        li {
          display: block;
          padding: 0;
          span {
            display: block;
          }
          hr {
            display: block;
          }
          &.active {
            hr {
              border-color: @color-grey;
            }
          }
        }
      }
      .border-bottom {
        display: none;
      }
    }
  }
}