@charset "utf-8";
/* ---------------------- 2. FONTS ---------- */

@fontPath: '../../fonts';

@font-face {
    font-family: 'OpenSansBold';
    src: url('@{fontPath}/OpenSansBold.eot');
    src: url('@{fontPath}/OpenSansBold.eot?#iefix') format('embedded-opentype'),
         url('@{fontPath}/OpenSansBold.woff') format('woff'),
         url('@{fontPath}/OpenSansBold.ttf') format('truetype'),
         url('@{fontPath}/OpenSansBold.svg#breuer_textbold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans';
    src: url('@{fontPath}/OpenSansRegular.eot');
    src: url('@{fontPath}/OpenSansRegular.eot?#iefix') format('embedded-opentype'),
         url('@{fontPath}/OpenSansRegular.woff') format('woff'),
         url('@{fontPath}/OpenSansRegular.ttf') format('truetype'),
         url('@{fontPath}/OpenSansRegular.svg#breuer_textbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSansLight';
    src: url('@{fontPath}/OpenSansLight.eot');
    src: url('@{fontPath}/OpenSansLight.eot?#iefix') format('embedded-opentype'),
         url('@{fontPath}/OpenSansLight.woff') format('woff'),
         url('@{fontPath}/OpenSansLight.ttf') format('truetype'),
         url('@{fontPath}/OpenSansLight.svg#breuer_textbold') format('svg');
    font-weight: light;
    font-style: normal;
}



@font-face {
  font-family: 'montserratbold';
  src: url('@{fontPath}/montserrat-bold-webfont.eot');
  src: url('@{fontPath}/montserrat-bold-webfont.eot?#iefix') format('embedded-opentype'),
  url('@{fontPath}/montserrat-bold-webfont.woff2') format('woff2'),
  url('@{fontPath}/montserrat-bold-webfont.woff') format('woff'),
  url('@{fontPath}/montserrat-bold-webfont.ttf') format('truetype'),
  url('@{fontPath}/montserrat-bold-webfont.svg#montserratbold') format('svg');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'montserratregular';
  src: url('@{fontPath}/montserrat-regular-webfont.eot');
  src: url('@{fontPath}/montserrat-regular-webfont.eot?#iefix') format('embedded-opentype'),
  url('@{fontPath}/montserrat-regular-webfont.woff2') format('woff2'),
  url('@{fontPath}/montserrat-regular-webfont.woff') format('woff'),
  url('@{fontPath}/montserrat-regular-webfont.ttf') format('truetype'),
  url('@{fontPath}/montserrat-regular-webfont.svg#montserratregular') format('svg');
  font-weight: normal;
  font-style: normal;

}