/* ---------------------- 5. MIXINS ---------- */

//colors
@color-blue: #257db8;
@color-dark-transparent-blue: rgba(37,125,184,.9);
@color-medium-transparent-blue: rgba(37,125,184,.7);
@color-light-transparent-blue: rgba(37,125,184,.4);

@color-grey: #41515a;
@color-medium-grey: #6f6f6f;
@color-light-grey: #b4b4b4;
@color-very-light-grey: #eceded;

@link-color: @color-blue;
@link-hover-color: lighten(@color-blue, 20%);


//less elements
.font-size(@sizeValue) {
  @remValue: @sizeValue;
  @pxValue: (@sizeValue * 10);
  font-size: ~"@{pxValue}px"; 
  font-size: ~"@{remValue}rem";
}

.pie() {
    behavior: url(../pie/PIE.php);
}