/* ---------------------- 6. BASICS ---------- */

//all
* {
    outline: none !important;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
html {
    font-family: 'OpenSans';
	font-size: 62.5%;
  body {
    color: @color-grey;
    .opacity(0);
    .font-size(1.4);
    .transition(opacity 800ms);
    &.faded {
      .opacity(1);
    }
    &.blocked {
      overflow-y: hidden;
    }
  }
}

strong {
  font-family: 'montserratbold';
}

//links
a {
	color: @link-color;
    text-decoration: none;
    &:hover {
		color: @link-hover-color;
        text-decoration: none;
    }
}

//headers
h1, h2, h3 {
	line-height: 1.3;
}

p {
  line-height: 1.4;
}

//buttons


//forms
form {
	
}

textarea,
input[type="text"],
input[type="email"],
input[type="password"] {
	
}
label input[type="checkbox"],
label input[type="radio"] {
    
}

.select2 {
  .selection {
    .select2-selection {
      background: transparent;
      border: none;
      .border-radius(0);
      .select2-selection__rendered {
        text-align: left;
        line-height: 24px;
        .font-size(1.5);
      }
      .select2-selection__clear {
        line-height: 24px;
        right: 5px;
        .font-size(2);
      }
      .select2-selection__arrow {
        height: 22px;
      }
    }
  }
}
.select2-container {
  .select2-dropdown {
    border: none;
    background: @color-medium-transparent-blue;
    .border-radius(0);
    .select2-search__field {
      border: none;
      padding: 2px 4px;
      .font-size(1.2);
    }
    .select2-results {
      ul {
        li {
          padding: 6px 10px;
          color: #fff;
          &.select2-results__option--highlighted,
          &:hover {
            background-color: @color-grey;
          }
        }
      }
    }
  }
}


//extras
.hg-img-full-width {
  @media all and (min-width: 1200px) {
    width: 100%;
  }
}

//buttons
.button {
  border: 1px solid #fff;
  font-family: 'montserratregular';
  .font-size(1.4);
  line-height: 1.4;
  color: #fff;
  padding: 8px 40px;
  text-transform: uppercase;
  display: inline-block;
  background: transparent;
  .transition(background 300ms, color 300ms);
  &.big {
    padding: 20px 80px;
  }
  &:hover {
    background: #fff;
    color: @color-blue;
  }
}

@media all and (max-width: 767px) {
  .button {
    .font-size(1.3);
    padding: 6px 30px;
    &.big {
      padding: 12px 40px;
    }
  }
}


/* ---------- header ---------- */
header#main-header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  padding: 30px 100px 30px;
  z-index: 120;
  .transition(padding 500ms, background 500ms);
  h1 {
    float: left;
    position: relative;
    z-index: 120;
    a {
      display: block;
      img, object {
        max-width: 100%;
        max-height: 100%;
        width: 160px;
        display: block;
        .transition(height 500ms);
      }
    }
  }
  &.sticky {
    padding: 15px 100px 15px;
    background: @color-grey;
    h1 {
      a {
        img {
          height: 45px;
        }
      }
    }
  }
}

@media all and (max-width: 767px) {
  header#main-header {
    padding: 20px 40px;
    h1 {
      a {
        img, object {
          width: 110px;
        }
      }
    }
    &.sticky {
      padding: 15px 40px 15px;
    }
  }
}



/* ---------- content ---------- */
.content-section {
  padding: 40px 0;
  background-color: #fff;
  h2 {
    text-align: center;
    font-family: 'montserratbold';
    .font-size(3.6);
    margin-bottom: 20px;
  }
  h3 {
    font-family: 'montserratbold';
    .font-size(2);
    margin-bottom: 10px;
  }
  p {
    margin: 20px 0;
    line-height: 1.6;
  }
  ul {
    list-style: disc outside;
    padding-left: 20px;
    margin-left: 20px;
    li {
      padding: 5px 0 5px 10px;
    }
  }
  &:first-of-type {
    background-color: #f4f5f5;
  }
  &:last-of-type {
    padding-bottom: 80px;
  }
  &.border-bottom {
    border-bottom: 1px solid @color-light-grey;
  }
  &.no-padding-top {
    padding-top: 0;
  }
  &.no-padding-bottom {
    padding-bottom: 0;
  }
  &.dark-bg {
    background-color: #f4f5f5;
  }
  &.default-page {
    padding-top: 140px;
    background-color: @color-light-grey;
    * {
      color: #fff;
    }
  }
  .more {
    text-align: right;
  }
}

@media all and (max-width: 767px) {
  .content-section {
    h2 {
      margin-bottom: 10px;
    }
  }
}



/* ---------- footer ---------- */
footer#main-footer {
  z-index: 30;
  padding: 20px;
  width: 100%;
  background: rgb(25,25,25);
  p {
    .opacity(.8);
    margin: 0;
    text-align: center;
    .font-size(1.2);
    color: #e6e6e6;
  }
}

.homepage {
  footer#main-footer {
    position: fixed;
    bottom: 0;
    padding: 10px 20px;
    height: 65px;
    background: rgba(25,25,25,.7);
    p {
      color: #fff;
      .font-size(1.1);
    }
  }
}

@media all and (max-width: 1100px) {
  .homepage {
    footer#main-footer {
      padding: 5px 20px;
    }
  }
}

@media all and (max-width: 767px) {
  .homepage {
    footer#main-footer {
      padding: 5px 10px;
      p {
        .font-size(1);
        line-height: 1.2;
      }
    }
  }
}

@media all and (max-width: 480px) {
  footer#main-footer {
    padding: 10px;
    height: 80px;
    p {
      .font-size(.9);
      line-height: 1.2;
    }
  }

  .homepage {
    footer#main-footer {
      padding: 5px 10px;
      height: 90px;
    }
  }
}