<section class="news-list">
    <a ng-repeat="news in newsList | filterByYear : activeFilters.year" href="{{ news.alias }}" title="{{ news.title }}" class="item">
        <div class="row" ng-if="news.intro_image">
            <div class="col-md-4">
                <img ng-src="{{ news.intro_image }}" alt="" class="img-responsive newsImg">
            </div>
            <div class="col-md-8">
                <article>
                    <div class="item-data" >{{ news.date | date : 'longDate' }}, by {{ news.author }}</div>
                    <h3>{{ news.title }}</h3>
                    <p>{{ news.intro }}</p>
                    <span class="more">Read more...</span>
                </article>
            </div>
        </div>

        <article ng-if="!news.intro_image">
            <div class="item-data">{{ news.date | date : 'longDate' }}, by Jeremy Grant</div>
            <h3>{{ news.title }}</h3>
            <p>{{ news.intro }}</p>
            <span class="more">Read more...</span>
        </article>

        <hr>
    </a>
</section>