<section class="single-news">
    <div class="item-data">{{ news.date | date : 'longDate' }}, by {{ news.author }}</div>
    <h3>{{ news.title }}</h3>
    <article ng-bind-html="news.content">\</article>
    <section class="social-box">
        <a href="#" title="Share on LinkedIn"><i class="icon icon_linkedin"></i><em>Share on linkedin</em></a>
    </section>
</section>